<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tju.scs.mapper.UserInfoMapper" >

  <resultMap id="BaseResultMap" type="cn.tju.scs.domain.UserInfo" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="auth" property="auth" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    user_id, user_name, password, auth
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectByUser" resultMap="BaseResultMap" parameterType="cn.tju.scs.domain.UserInfo">
    SELECT
    <include refid="Base_Column_List"/>
    FROM user_info
    WHERE user_name = #{userName,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>

  <select id="countByUserName" resultType="java.lang.Integer" parameterType="java.lang.String">
      SELECT count(*)
      FROM user_info
      WHERE user_name = #{userName}
  </select>

  <select id="selectAllUsers" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM user_info
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="cn.tju.scs.domain.UserInfo" >
    insert into user_info (user_id, user_name, password,
      auth)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{auth,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="cn.tju.scs.domain.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="auth != null" >
        auth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="auth != null" >
        #{auth,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <insert id="insertByUuid" parameterType="cn.tju.scs.domain.UserInfo">
    <selectKey keyProperty="userId" resultType="java.lang.String" order="BEFORE">
        select replace(uuid(),'-','');
    </selectKey>
    insert into user_info (user_id, user_name, password,
    auth)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{auth,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.tju.scs.domain.UserInfo" >
    update user_info
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="auth != null" >
        auth = #{auth,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.tju.scs.domain.UserInfo" >
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      auth = #{auth,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

</mapper>